:root {

    --color-accent-bg: #265BD9;
    --color-accent-disabled: #577EDB;
    --color-accent-fr-c-1: #577EDB;
    --color-accent-fr-c-2: #AABADF;
    --color-accent-fr-c-3: #DCE2EF;
    --color-accent-fr-disabled: #193476;
    --color-accent-hover: #2252C3;
    --color-accent-2-bg: #262626;
    --color-accent-2-disabled: #424242;
    --color-accent-2-fr-c-1: #424242;
    --color-accent-2-fr-c-2: #707070;
    --color-accent-2-fr-c-3: #E6E6E6;
    --color-accent-2-fr-disabled: #8F8F8F;
    --color-accent-2-hover: #2E2E2E;
    --color-brand-bg: #FF5B5A;
    --color-brand-disabled: #E68A89;
    --color-brand-fr-c-1: #D24141;
    --color-brand-fr-c-2: #8E1110;
    --color-brand-fr-c-3: #600606;
    --color-brand-fr-disabled: #8C3736;
    --color-brand-hover: #F53E3D;
    --color-danger-bg: #D52A2A;
    --color-danger-disabled: #E16666;
    --color-danger-fr-c-1: #E16666;
    --color-danger-fr-c-2: #F2BBBB;
    --color-danger-fr-c-3: #FEF0F0;
    --color-danger-fr-disabled: #5C3737;
    --color-danger-hover: #A52727;
    --color-low-bg: #FEC113;
    --color-low-disabled: #CCB77A;
    --color-low-fr-c-1: #CE9E12;
    --color-low-fr-c-2: #8A6C15;
    --color-low-fr-c-3: #695311;
    --color-low-fr-disabled: #766228;
    --color-low-hover: #DAA40C;
    --color-neutral-bg: #FAFAFA;
    --color-neutral-fr-accent-c-1: #C4CDE3;
    --color-neutral-fr-accent-c-2: #6C8EE0;
    --color-neutral-fr-accent-c-3: #265BD9;
    --color-neutral-fr-c-1: #CFCFCF;
    --color-neutral-fr-c-2: #919191;
    --color-neutral-fr-c-3: #737373;
    --color-neutral-fr-c-4: #4C4E52;
    --color-neutral-fr-c-5: #262222;
    --color-neutral-fr-danger-c-1: #E9C4C4;
    --color-neutral-fr-danger-c-2: #D17575;
    --color-neutral-fr-danger-c-3: #D52A2A;
    --color-neutral-fr-success-c-1: #B2D7C2;
    --color-neutral-fr-success-c-2: #27A55D;
    --color-neutral-fr-success-c-3: #318153;
    --color-neutral-1-bg: #FFFFFF;
    --color-neutral-1-fr-c-0125: #E5E5E6;
    --color-neutral-1-fr-c-1: #D0D2D8;
    --color-neutral-1-fr-c-2: #949494;
    --color-neutral-1-fr-c-3: #74767B;
    --color-neutral-1-fr-c-4: #4E5055;
    --color-neutral-1-fr-c-5: #252628;
    --color-neutral-2-bg: #EBEBEB;
    --color-neutral-2-fr-c-1: #C2C2C2;
    --color-neutral-2-fr-c-2: #878787;
    --color-neutral-2-fr-c-3: #696A6D;
    --color-neutral-2-fr-c-4: #43454C;
    --color-neutral-2-fr-c-5: #161718;
    --color-neutral-3-bg: #D9D9D9;
    --color-neutral-3-fr-c-1: #B1B2B4;
    --color-neutral-3-fr-c-2: #787A7D;
    --color-neutral-3-fr-c-3: #5B5E62;
    --color-neutral-3-fr-c-4: #383A3D;
    --color-neutral-3-fr-c-5: #18191B;
    --color-overlay-bg: #00000066;
    --color-success-bg: #29A35C;
    --color-success-disabled: #7AB894;
    --color-success-fr-c-1: #178244;
    --color-success-fr-c-2: #134E2C;
    --color-success-fr-c-3: #092F18;
    --color-success-fr-disabled: #326246;
    --color-success-hover: #26824C;
    --color-warning-bg: #F38B16;
    --color-warning-disabled: #D19C61;
    --color-warning-fr-c-1: #CA6C02;
    --color-warning-fr-c-2: #7F480A;
    --color-warning-fr-c-3: #57330A;
    --color-warning-fr-disabled: #794A16;
    --color-warning-hover: #D67200;
    --ios-16-card: #A2A2A2;
    --ios-16-theme: #000000;
    --palette-black: #000000;
    --palette-blue-100: #D6DFF5;
    --palette-blue-200: #C2CFF0;
    --palette-blue-300: #99AFE5;
    --palette-blue-400: #7090DB;
    --palette-blue-50: #EBEFFA;
    --palette-blue-500: #446DD0;
    --palette-blue-600: #294DA3;
    --palette-blue-700: #1A3066;
    --palette-blue-800: #0F1D3D;
    --palette-blue-900: #0A1329;
    --palette-blue-2-100: #D4EEF7;
    --palette-blue-2-200: #BEE6F3;
    --palette-blue-2-300: #93D5EB;
    --palette-blue-2-400: #68C5E2;
    --palette-blue-2-50: #E8F7FB;
    --palette-blue-2-500: #26A5CF;
    --palette-blue-2-600: #1B708D;
    --palette-blue-2-700: #104556;
    --palette-blue-2-800: #0C3441;
    --palette-blue-2-900: #08222B;
    --palette-brand-100: #FFCCCC;
    --palette-brand-200: #FFB3B3;
    --palette-brand-300: #FF8080;
    --palette-brand-400: #FF5A5A;
    --palette-brand-50: #FFE5E6;
    --palette-brand-500: #FF3333;
    --palette-brand-600: #C20000;
    --palette-brand-700: #800000;
    --palette-brand-800: #5C0000;
    --palette-brand-900: #330000;
    --palette-green-100: #D6F5E3;
    --palette-green-200: #C2F0D5;
    --palette-green-300: #99E5B9;
    --palette-green-400: #71DB9D;
    --palette-green-50: #EBFAF1;
    --palette-green-500: #44CF7E;
    --palette-green-600: #29A35C;
    --palette-green-700: #1A6639;
    --palette-green-800: #0F3D22;
    --palette-green-900: #0A2917;
    --palette-grey-100: #EBEBEB;
    --palette-grey-200: #D9D9D9;
    --palette-grey-300: #C2C2C2;
    --palette-grey-400: #8C8C8C;
    --palette-grey-50: #FAFAFA;
    --palette-grey-500: #737373;
    --palette-grey-600: #616161;
    --palette-grey-700: #474747;
    --palette-grey-800: #333333;
    --palette-grey-900: #262626;
    --palette-grey-950: #1A1A1A;
    --palette-grey-990: #121212;
    --palette-orange-100: #FFE7CC;
    --palette-orange-200: #FFDBB3;
    --palette-orange-300: #FFC380;
    --palette-orange-400: #FFAB4C;
    --palette-orange-50: #FFF3E5;
    --palette-orange-500: #FF9114;
    --palette-orange-600: #CC6C00;
    --palette-orange-700: #804400;
    --palette-orange-800: #4D2900;
    --palette-orange-900: #331B00;
    --palette-red-100: #F7D4D4;
    --palette-red-200: #F2BFBF;
    --palette-red-300: #EA9495;
    --palette-red-400: #E26A6A;
    --palette-red-50: #FBEAEA;
    --palette-red-500: #D52A2A;
    --palette-red-600: #AA2222;
    --palette-red-700: #6B1515;
    --palette-red-800: #400D0D;
    --palette-red-900: #2B0808;
    --palette-red-2-100: #FECDCF;
    --palette-red-2-200: #FEB4B8;
    --palette-red-2-300: #FD8188;
    --palette-red-2-400: #FC5059;
    --palette-red-2-50: #FFE6E7;
    --palette-red-2-500: #FB3641;
    --palette-red-2-600: #FA0610;
    --palette-red-2-700: #96030A;
    --palette-red-2-800: #4B0105;
    --palette-red-2-900: #320103;
    --palette-white: #FFFFFF;
    --palette-yellow-100: #FEF4CE;
    --palette-yellow-200: #FFEBB3;
    --palette-yellow-300: #FFDD80;
    --palette-yellow-400: #FFCF4C;
    --palette-yellow-50: #FFF8E5;
    --palette-yellow-500: #FFC014;
    --palette-yellow-600: #CC9600;
    --palette-yellow-700: #805E00;
    --palette-yellow-800: #4D3800;
    --palette-yellow-900: #332500;
    --palette-yellow-2-100: #FFEECC;
    --palette-yellow-2-200: #FCEFB6;
    --palette-yellow-2-300: #FAE584;
    --palette-yellow-2-400: #FADB5C;
    --palette-yellow-2-50: #FEFAE6;
    --palette-yellow-2-500: #F8CE1E;
    --palette-yellow-2-600: #C4A209;
    --palette-yellow-2-700: #7B6506;
    --palette-yellow-2-800: #4A3D02;
    --palette-yellow-2-900: #322802;
    --type-diasyst-body-bold: 16px/23px Noir Pro;
    --type-diasyst-body-heavy: 16px/23px Noir Pro;
    --type-diasyst-body-light: 16px/23px Noir Pro;
    --type-diasyst-body-medium: 16px/23px Noir Pro;
    --type-diasyst-body-regular: 16px/23px Noir Pro;
    --type-diasyst-body-semibold: 16px/23px Noir Pro;
    --type-diasyst-callout-bold: 15px/22px Noir Pro;
    --type-diasyst-callout-heavy: 15px/22px Noir Pro;
    --type-diasyst-callout-light: 15px/22px Noir Pro;
    --type-diasyst-callout-medium: 15px/22px Noir Pro;
    --type-diasyst-callout-regular: 15px/22px Noir Pro;
    --type-diasyst-callout-semibold: 15px/22px Noir Pro;
    --type-diasyst-caption-1-bold: 12px/16px Noir Pro;
    --type-diasyst-caption-1-heavy: 12px/16px Noir Pro;
    --type-diasyst-caption-1-light: 12px/16px Noir Pro;
    --type-diasyst-caption-1-medium: 12px/16px Noir Pro;
    --type-diasyst-caption-1-regular: 12px/16px Noir Pro;
    --type-diasyst-caption-1-semibold: 12px/16px Noir Pro;
    --type-diasyst-caption-2-bold: 11px/13px Noir Pro;
    --type-diasyst-caption-2-heavy: 11px/13px Noir Pro;
    --type-diasyst-caption-2-light: 11px/13px Noir Pro;
    --type-diasyst-caption-2-medium: 11px/13px Noir Pro;
    --type-diasyst-caption-2-regular: 11px/13px Noir Pro;
    --type-diasyst-caption-2-semibold: 11px/13px Noir Pro;
    --type-diasyst-footnote-bold: 13px/18px Noir Pro;
    --type-diasyst-footnote-heavy: 13px/18px Noir Pro;
    --type-diasyst-footnote-light: 13px/18px Noir Pro;
    --type-diasyst-footnote-medium: 13px/18px Noir Pro;
    --type-diasyst-footnote-regular: 13px/18px Noir Pro;
    --type-diasyst-footnote-semibold: 13px/18px Noir Pro;
    --type-diasyst-headline-bold: 18px/25px Noir Pro;
    --type-diasyst-headline-heavy: 18px/25px Noir Pro;
    --type-diasyst-headline-light: 18px/25px Noir Pro;
    --type-diasyst-headline-medium: 18px/25px Noir Pro;
    --type-diasyst-headline-regular: 18px/25px Noir Pro;
    --type-diasyst-headline-semibold: 18px/25px Noir Pro;
    --type-diasyst-large-bold: 47px/56px Noir Pro;
    --type-diasyst-large-heavy: 47px/56px Noir Pro;
    --type-diasyst-large-light: 47px/56px Noir Pro;
    --type-diasyst-large-medium: 47px/56px Noir Pro;
    --type-diasyst-large-regular: 47px/56px Noir Pro;
    --type-diasyst-large-semibold: 47px/56px Noir Pro;
    --type-diasyst-subheadline-bold: 14px/20px Noir Pro;
    --type-diasyst-subheadline-heavy: 14px/20px Noir Pro;
    --type-diasyst-subheadline-light: 14px/20px Noir Pro;
    --type-diasyst-subheadline-medium: 14px/20px Noir Pro;
    --type-diasyst-subheadline-regular: 14px/20px Noir Pro;
    --type-diasyst-subheadline-semibold: 14px/20px Noir Pro;
    --type-diasyst-title-1-bold: 36px/43px Noir Pro;
    --type-diasyst-title-1-heavy: 36px/43px Noir Pro;
    --type-diasyst-title-1-light: 36px/43px Noir Pro;
    --type-diasyst-title-1-medium: 36px/43px Noir Pro;
    --type-diasyst-title-1-regular: 36px/43px Noir Pro;
    --type-diasyst-title-1-semibold: 36px/43px Noir Pro;
    --type-diasyst-title-2-bold: 27px/35px Noir Pro;
    --type-diasyst-title-2-heavy: 27px/35px Noir Pro;
    --type-diasyst-title-2-light: 27px/35px Noir Pro;
    --type-diasyst-title-2-medium: 27px/35px Noir Pro;
    --type-diasyst-title-2-regular: 27px/35px Noir Pro;
    --type-diasyst-title-2-semibold: 27px/35px Noir Pro;
    --type-diasyst-title-3-bold: 21px/29px Noir Pro;
    --type-diasyst-title-3-heavy: 21px/29px Noir Pro;
    --type-diasyst-title-3-light: 21px/29px Noir Pro;
    --type-diasyst-title-3-medium: 21px/29px Noir Pro;
    --type-diasyst-title-3-regular: 21px/29px Noir Pro;
    --type-diasyst-title-3-semibold: 21px/29px Noir Pro;
    --type-diasyst-default-body: 16px/23px Noir Pro;
    --type-diasyst-default-callout: 15px/22px Noir Pro;
    --type-diasyst-default-caption-1: 12px/16px Noir Pro;
    --type-diasyst-default-caption-2: 11px/13px Noir Pro;
    --type-diasyst-default-footnote: 13px/18px Noir Pro;
    --type-diasyst-default-headline: 18px/25px Noir Pro;
    --type-diasyst-default-large: 47px/56px Noir Pro;
    --type-diasyst-default-subheadline: 14px/20px Noir Pro;
    --type-diasyst-default-tabitem: 10px/12px Noir Pro;
    --type-diasyst-default-title-1: 36px/43px Noir Pro;
    --type-diasyst-default-title-2: 27px/35px Noir Pro;
    --type-diasyst-default-title-3: 21px/29px Noir Pro;
    --type-normal-body-bold: 16px/23px SF Pro;
    --type-normal-body-heavy: 16px/23px SF Pro;
    --type-normal-body-light: 16px/23px SF Pro;
    --type-normal-body-medium: 16px/23px SF Pro;
    --type-normal-body-regular: 16px/23px SF Pro;
    --type-normal-body-semibold: 16px/23px SF Pro;
    --type-normal-callout-bold: 15px/22px SF Pro;
    --type-normal-callout-heavy: 15px/22px SF Pro;
    --type-normal-callout-light: 15px/22px SF Pro;
    --type-normal-callout-medium: 15px/22px SF Pro;
    --type-normal-callout-regular: 15px/22px SF Pro;
    --type-normal-callout-semibold: 15px/22px SF Pro;
    --type-normal-caption-1-bold: 12px/16px SF Pro;
    --type-normal-caption-1-heavy: 12px/16px SF Pro;
    --type-normal-caption-1-light: 12px/16px SF Pro;
    --type-normal-caption-1-medium: 12px/16px SF Pro;
    --type-normal-caption-1-regular: 12px/16px SF Pro;
    --type-normal-caption-1-semibold: 12px/16px SF Pro;
    --type-normal-caption-2-bold: 11px/13px SF Pro;
    --type-normal-caption-2-heavy: 11px/13px SF Pro;
    --type-normal-caption-2-light: 11px/13px SF Pro;
    --type-normal-caption-2-medium: 11px/13px SF Pro;
    --type-normal-caption-2-regular: 11px/13px SF Pro;
    --type-normal-caption-2-semibold: 11px/13px SF Pro;
    --type-normal-footnote-bold: 13px/18px SF Pro;
    --type-normal-footnote-heavy: 13px/18px SF Pro;
    --type-normal-footnote-light: 13px/18px SF Pro;
    --type-normal-footnote-medium: 13px/18px SF Pro;
    --type-normal-footnote-regular: 13px/18px SF Pro;
    --type-normal-footnote-semibold: 13px/18px SF Pro;
    --type-normal-headline-bold: 18px/25px SF Pro;
    --type-normal-headline-heavy: 18px/25px SF Pro;
    --type-normal-headline-light: 18px/25px SF Pro;
    --type-normal-headline-medium: 18px/25px SF Pro;
    --type-normal-headline-regular: 18px/25px SF Pro;
    --type-normal-headline-semibold: 18px/25px SF Pro;
    --type-normal-large-bold: 47px/56px SF Pro;
    --type-normal-large-heavy: 47px/56px SF Pro;
    --type-normal-large-light: 47px/56px SF Pro;
    --type-normal-large-medium: 47px/56px SF Pro;
    --type-normal-large-regular: 47px/56px SF Pro;
    --type-normal-large-semibold: 47px/56px SF Pro;
    --type-normal-subheadline-bold: 14px/20px SF Pro;
    --type-normal-subheadline-heavy: 14px/20px SF Pro;
    --type-normal-subheadline-light: 14px/20px SF Pro;
    --type-normal-subheadline-medium: 14px/20px SF Pro;
    --type-normal-subheadline-regular: 14px/20px SF Pro;
    --type-normal-subheadline-semibold: 14px/20px SF Pro;
    --type-normal-title-1-bold: 36px/43px SF Pro;
    --type-normal-title-1-heavy: 36px/43px SF Pro;
    --type-normal-title-1-light: 36px/43px SF Pro;
    --type-normal-title-1-medium: 36px/43px SF Pro;
    --type-normal-title-1-regular: 36px/43px SF Pro;
    --type-normal-title-1-semibold: 36px/43px SF Pro;
    --type-normal-title-2-bold: 27px/35px SF Pro;
    --type-normal-title-2-heavy: 27px/35px SF Pro;
    --type-normal-title-2-light: 27px/35px SF Pro;
    --type-normal-title-2-medium: 27px/35px SF Pro;
    --type-normal-title-2-regular: 27px/35px SF Pro;
    --type-normal-title-2-semibold: 27px/35px SF Pro;
    --type-normal-title-3-bold: 21px/29px SF Pro;
    --type-normal-title-3-heavy: 21px/29px SF Pro;
    --type-normal-title-3-light: 21px/29px SF Pro;
    --type-normal-title-3-medium: 21px/29px SF Pro;
    --type-normal-title-3-regular: 21px/29px SF Pro;
    --type-normal-title-3-semibold: 21px/29px SF Pro;
    --type-normal-default-body: 16px/23px SF Pro;
    --type-normal-default-callout: 15px/22px SF Pro;
    --type-normal-default-caption-1: 12px/16px SF Pro;
    --type-normal-default-caption-2: 11px/13px SF Pro;
    --type-normal-default-footnote: 13px/18px SF Pro;
    --type-normal-default-headline: 18px/25px SF Pro;
    --type-normal-default-large: 47px/56px SF Pro;
    --type-normal-default-subheadline: 14px/20px SF Pro;
    --type-normal-default-title-1: 36px/43px SF Pro;
    --type-normal-default-title-2: 27px/35px SF Pro;
    --type-normal-default-title-3: 21px/29px SF Pro;
    
    

}